/* Class names prefixes */
$app-prefix:        'gjs-' !default;

/* Colors / Theme */

$mainColor:         #F5F4F5 !default;
$fontColor:         #555555 !default;
$active-color:      #00cc9a !default;
$tag-color:         green !default;
